<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>
<body class="animsition">
    <div class="page-wrapper">
        
    <%- include('partials/nav', {data}) %> 
        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <br/>

            <!-- WELCOME-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4">Welcome back
                                <span>Admin!</span>
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->

            <!-- STATISTIC-->
            <section class="statistic statistic2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--green">
                                <h2 class="number"><%= udata %></h2>
                                <span class="desc">new users</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--orange">
                                <h2 class="number"><%= itemSold %></h2>
                                <span class="desc">items sold</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--blue">
                                <h2 class="number"><%= numOrder %></h2>
                                <span class="desc">orders</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-calendar-note"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--red">
                                <h2 class="number">	&#2547; <%= parseFloat(totalEarning).toFixed(2) %></h2>
                                <span class="desc">total earnings</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC-->

           
            <!-- DATA TABLE-->
            <section class="p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">Recent Orders</h3>
                            
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <!-- DATA TABLE-->
                                    <div class="table-responsive m-b-40">
                                        <table class="table table-borderless table-data3">
                                            <thead>
                                                <tr>
                                                    <th>order id</th>
                                                    <th>product</th>
                                                    <th>date</th>
                                                    <th>status</th>
                                                    <th>price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for (let i = 0; i < allOrders.length; i++) { %>
                                                <tr>
                                                    <td><a href="/order-detail/<%= allOrders[i].orderId %>"><%= allOrders[i].orderId %></a></td>
                                                    <td><%= allOrders[i].product_name %></td>
                                                    <td><%= allOrders[i].order_date %></td>
                                                    <td class="process"><%= allOrders[i].order_status %></td>
                                                    <td>&#2547; <%= allOrders[i].product_price %></td>
                                                </tr>
                                                <% } %>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- END DATA TABLE-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END DATA TABLE-->

            <%- include('partials/footer') %>

</body>

</html>
<!-- end document-->
